<div>
    {{#if enableComment}}
    <div id="documentComments" class="panel-collapse collapse in widget-body">
        <div class="widget-body">
            <div class="widget-body-inner">
                <div class="widget-main" id="documentComments">
                    <div class="recentReaders file-panel-content" ref-entity-id="6" ref-entity-type="course">
                        <div class="uyan-comment" load="no" articletitle="{{unbound title}}" entityid="{{unbound id}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>
