<div class="widget-box transparent">
    <div class="widget-header widget-header-flat widget-padding bborder row-header tborder">
        <h4 data-icon-before="file-text">
            Summary
        </h4>

        <div class="widget-toolbar">
            <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                <i class="icon-caret-up"></i>
            </a>
        </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
        <div class="widget-body">
            {{#if summary}}
                <p class="page-padding"> {{summary}} </p>
            {{else}}
                <p class="no-value">Summary is not available for this document.</p>
            {{/if}}
        </div>
    </div>
</div>