<div class="widget-box transparent">
    <div class="widget-header widget-header-flat widget-padding bborder row-header">
        <div class="widget-toolbar">
            <!--div data-parent="#accordion" data-action="collapse" class="accordion-toggle">
                <i class="icon-caret-up"></i>
            </div-->
        </div>
    </div>
    <div id="communityComments" class="panel-collapse widget-body collapse in">
        <div class="recentReaders comments_container" ref-entity-id="6" ref-entity-type="course">
            <div class="uyan-comment" load="no" articletitle="{{unbound name}}" entityid="{{unbound _id}}"></div>
        </div>
    </div>
</div>