<div id="communityRequestContainer">
	<i data-rel="tooltip" data-original-title="Reject" style="cursor:pointer;padding-right:5px;" class="glyphicon glyphicon-remove size-20 red" {{action "reject" target="view" bubbles=false}}></i>
	<i data-rel="tooltip" data-original-title="Accept" style="cursor:pointer;padding-right:5px;" class="glyphicon glyphicon-ok size-20 green" {{action "accept" target="view" bubbles=false}}></i>
</div>
