 <div class='modal-overlay'>
  <div class='modal-container'>
    <div class='modal-content' style='border-radius:5px;border:none;'>
      <div class='notice-title'>
        <div class='modal-header' style='border-radius:5px 5px 0px 0px;border:none;background-color:#61a9de'>
          <button class='close' data-dismiss='modal' aria-hidden='true' {{!--action abortUpload--}}>&times;</button>
          <h4 class='modal-title' style='color:#fff;'>Upload Files</h4>
        </div>
      </div>
      <div class='modal-middle' style='min-height:110px;'>
        <div class='upload-file-list'>
          <div class='uploadfile-btn-area'>
            <span class='back-btn'>
              <i class='icon icon-file' style="color:#fff;"></i>
              &nbsp;Choose A File
            </span>
            <input type='file' id='fileupload' name='file' class='btn'/>
          </div>
          <ul id='uploadfile-list'>
            
          </ul>
        </div>
        <div class='modal-btns' style='padding:10px;text-align:right;'>
          <button class='btn btn-primary' data-dismiss='modal' {{!--action abortUpload--}}>Close</button>
          <button class='btn btn-primary' id='submitUpload'>Upload</button>
        </div>
      </div>
    </div>
  </div>
</div>



<script type='text/template' id='uploadItem'>
  <li data-name='<%=id%>'>
      <span class="l-icon icon-paperclip" style="line-height: 1.7;"></span>
      <div class="the-progress-bar">
          <div class="the-progress-bar-back" style="width: 0%;"  data-bar-name='<%=id%>'></div>
      </div>
      <div class="file-type-name" style="">
          <span class="file-type-icon">
              <img src='<%=icon%>'>
          </span>
          <p class="file-name"><%=filenameshort%></p>
      </div>
      <span class="upload-file-icon <%=status%>" data-fileid='<%=id%>'>
          <i class="icon icon-<%=status%>"></i>
      </span>
  </li>
</script>
