<div class='details-add-tag-area' >
  <div class='ui-add-tag'>
    <div class="icon-tags"></div>
    <ul>
    </ul>

      <ul>
        <li id='showTagInputAreaBtn' >
          <span class='icon-plus-thin' data-placement='left' data-rel='tooltip' data-original-title='Add a Tag' style='cursor:pointer;color:#0096d6;line-height:21px;width:20px;'><span>
        </li>
        <li id='TagInputArea' style='display:none;'>
          <input type='text'style='border:0px;background:transparent;line-height:normal;font-size:13px;width:106px;padding:0;' id='newTagValue' placeholder="Add a tag">
          <span style="position:absolute;z-index:100;display:none;margin-top:1px;" id='kotg-tag-suggestion' class="tt-dropdown-menu">
            <div>
              <span style="display: block;" class="tt-suggestions" id='kotg-suggestBlock'>
              </span>
            </div>
          </span>
        </li>
      </ul>
  </div>
</div>