<div>
    <div class="page-header">
        <h1> Password reset </h1>
    </div>

    <div class="col-md-12">
        <span style="color:red;float:left;padding-left:6px;">{{errorMessage}}</span>
        <span style="color:green;float:left;padding-left:6px;">{{successMessage}}</span>
    </div>

    <div>
        {{input maxlength="50" type="text"  value=email placeholder="Enter username" }}
        <button type="submit"
                class="btn btn-sm btn-primary" {{action "resetPassword"}}>Reset Password
        </button>
    </div>

</div>