<div class="modal fade" id="modalTemplateID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
				<div class="modal-header learningplanblue-header modal-create-header clearfix">
					<button type="button" class="close font-25" data-dismiss="modal">
						<i class="icon-remove white"></i>
					</button>
					<h4 class="modal-title">Modal Title</h4>
				</div>
				<div class="modal-body">
					<div class="modal-section">
						<span class="grey">instruction text</span>
					</div>
					<div class="modal-section">
						
					</div>
				</div>
			<div class="modal-footer">
				<button class="btn btn-sm btn-primary" data-dismiss="modal">Cancel</button>
				<button class="btn btn-sm btn-primary">Done</button>
			</div>
		</div>
	</div>
</div>
