{{#view App.FlashView id="flash-view"}}
         <div class="alert alert-danger" id="message">
            <strong>Error !!</strong> {{view.content.message}}.
        </div>
{{/view}}

<div>{{outlet}}</div>
