<div class="page-content help-page no-padding">
    <div class="widget-body">
        <div class="container header-panel my-files-page-title">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="eclipse-text">Help and Documentation</h1>
                </div>
            </div>
        </div>
        <div id="help-content" class="widget-body-inner">
            <div class="widget-main clearfix">
				<div class="no-padding upper-hero">
					<img src="assets/images/help-page-hero.jpg" alt="" />
				</div>
				<div class="help-content-wrap help-upper-row row">
					<div class="col-lg-11 col-md-11 col-sm-10 col-xs-12">
						<div class="row">
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 col-support-graphic">
								
							</div>
							<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
								<h3 class="has-border">About Cisco Collaborative Knowledge</h3>
								<p class="first">Cisco Collaborative Knowledge engages, equips, and mobilizes your organization as never before — collaborate, learn, and innovate with peers, experts, and social communities anytime, anywhere, and on any device.</p>
								<p>The following section provides links to support, frequently asked questions, and technical documentation for Cisco Collaborative Knowledge, as well as the proper use of the software. </p>
							</div>
						</div>
					</div>
				</div>
				<div class="help-content-wrap help-lower-row row">
					<div class="col-lg-11 col-md-11 col-sm-10 col-xs-12">
						<div class="row">
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
							<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-help-col">
										<div class="row">
											<div class="col-lg-12">
												<div class="help-block-wrap">
													<h3 class="has-border faq">Support</h3>
													<p>For immediate support, please contact the Cisco Customer Interaction Network (CIN):</p>
													<ul>
														<li>U.S.-based customers can call 1-800-553-6387:<br/><br/>
															<ol>
																<li>Select option 4, End-User Training and Certification.</li>
																<li>Next, select option 1, Training or Career Certification.</li>
															</ol>
														</li>
														<li><br/>To visit the Certification & Communities Online Support community, go to <a href="https://www.cisco.com/go/certsupport">www.cisco.com/go/certsupport</a>.<br/><br/></li>
														<li>To open a Certification & Communities Online Support case, go to <a href="https://ciscocert.force.com/english/accountinfo?retURL=%2Fapex%2Fcontactus. ">http://ciscocert.force.com/english/accountinfo?retURL=%2Fapex%2Fcontactus</a>. </li>
													</ul>
												</div>
											</div>
											<div class="col-lg-12">
												<div class="help-block-wrap">
													<h3 class="has-border guide">User Guides</h3>
													<p><a target="_blank" href="https://www.cisco.com/web/learning/collaborativeknowledge/documents/user_guide.pdf">Cisco Collaborative Knowledge User Guide </a></p>
													<p>Manage content, connect with experts, share knowledge, use social communities, find and register for classes in the catalog, and create personalized learning plans.</p>
													<p><a target="_blank" href="https://www.cisco.com/web/learning/collaborativeknowledge/documents/lms_admin_guide.pdf">Cisco Collaborative Knowledge Learning Management System Administrator Guide </a></p>
													<p>Manage the course catalog, including sessions, attendees, facilities, locations, notifications, job roles, skills, instructor assignment, and proxy enrollment. </p>
													<p><a target="_blank" href="https://www.cisco.com/web/learning/collaborativeknowledge/documents/instructor_guide.pdf">Cisco Collaborative Knowledge Instructor Guide  </a></p>
													<p>Manage rosters for your courses, including managing attendees and marking attendance for a completed course. </p>
													<p><a target="_blank" href="https://www.cisco.com/web/learning/collaborativeknowledge/documents/admin_guide.pdf">Cisco Collaborative Knowledge Administrator Guide  </a></p>
													<p>Perform administrative tasks, including managing expertise tags, assigning user roles, and adding assets to the knowledge library. </p>
												</div>
											</div>
											<div class="col-lg-12">
												<div class="help-block-wrap">
													<h3 class="has-border guide">Quick Start Guides</h3>
													<p><a target="_blank" href="http://www.cisco.com/web/learning/collaborativeknowledge/documents/user_guide_quick_start.pdf">Cisco Collaborative Knowledge User Quick Start Guide </a></p>
													
													<!-- <p><a href="update">Cisco Collaborative Knowledge Learning Management System Administrator Quick Start Guide </a></p> -->
													
													<p><a target="_blank" href="http://www.cisco.com/web/learning/collaborativeknowledge/documents/instructor_guide_quick_start.pdf">Cisco Collaborative Knowledge Instructor Quick Start Guide  </a></p>
													
													<p><a target="_blank" href="http://www.cisco.com/web/learning/collaborativeknowledge/documents/admin_guide_quick_start.pdf">Cisco Collaborative Knowledge Administrator Quick Start Guide  </a></p>													
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 right-help-col">
										<div class="row">
											<div class="col-lg-12">
												<div class="help-block-wrap">
													<h3 class="has-border faq">FAQ</h3>
													<p><a target="_blank" href="https://www.cisco.com/c/dam/en/us/products/collateral/cloud-systems-management/collaborative-knowledge/collaborative-knowledge-faq.pdf">Cisco Collaborative Knowledge FAQ</a></p>
													<p>A list of frequently asked questions about Cisco Collaborative Knowledge and its functionality.</p>
												</div>
											</div>
											<div class="col-lg-12">
												<div class="help-block-wrap">
													<h3 class="has-border docs">Additional Support Documents</h3>
													<p><a href="https://www.cisco.com/c/en/us/products/cloud-systems-management/collaborative-knowledge/at-a-glance-listing.html">At-a-Glance: Cisco Collaborative Knowledge </a></p>
													<p>The At-a-Glance provides a quick overview of key software features and demonstrates the benefits of Cisco Collaborative Knowledge for various users.</p>
													<p><a target="_blank" href="https://www.cisco.com/web/learning/collaborativeknowledge/documents/browser_support_datasheet.pdf">Browser Support Datasheet</a></p>
													<p>Cisco Collaborative Knowledge supports the devices, operating systems, and browsers that are listed in this document.</p>												
												</div>
											</div>
											
											<div class="col-lg-12">
												<div class="help-block-wrap">
													<h3 class="has-border docs">How do I submit feedback?</h3>
													<p>Please send us your feedback! We appreciate any and all comments, because your feedback is central to the development of Cisco Collaborative Knowledge. To submit feedback, email <a href="mailto:collaborative-knowledge@cisco.com ">collaborative-knowledge@cisco.com </a>.</p>
													
												</div>												
											</div>
											<div class="col-lg-12">
												<div class="help-block-wrap">
													<h3 class="has-border guide">Legal</h3>
													<p><a href="https://www.cisco.com/web/siteassets/legal/terms_condition.html">Terms and Conditions</a> </p>
														<p><a href="https://www.cisco.com/web/siteassets/legal/privacy_full.html">Privacy Notices</a></p>
												</div>
											</div>
										</div>
									</div>									
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>