<div class="page-content">
    <div class="row">
        <div class="eLearningCustom">
            <div class="row">
                {{#each contact in model}}
                    {{render "userItem" contact}}
                {{/each}}
            </div>
        </div>
    </div>
</div>