<div id="mySpace-tab" class="tab-pane active">
  <div class="widget-box transparent" id="recent-box">
        <div class="widget-header widget-header-flat padding-12">
        <h4 class="lighter"> <i class="icon-list orange"></i> My Contacts </h4>
  </div>
  <div class="widget-body">
    <div class="widget-body-inner" style="display: block;">
      <div class="widget-main no-padding">

        <div class="hr hr-double hr8"></div>
      </div>
      <!-- /widget-main --> 
    </div>
    </div>
  <!-- /widget-body --> 
  </div>

</div>