<!-- TOP NAV -->
<div id="navbar" class="navbar navbar-invers navbar-fixed-top">
{{view App.VkmHeaderView}}
</div>

<!-- MAIN CONTENT -->
<div class="main-container vkm-container" id="main-container">
	<div class="main-container-inner">

	<!-- SIDEBAR -->

	{{outlet}}

	</div><!--/.main-container-inner -->

</div><!--/.main-container -->