        				<!-- RIGHT SIDEBAR -->
						<div class="vkm-right-sidebar" id="rightPanelTabs">
							<!-- Tab panes -->
							<div class="tab-content vkm-tabs-wrap">

								<div class="tab-pane" data-tab-content="summary" id="people">
									<div class="tab-inner-wrap clearfix">

										<div class="tab-summary">

											<ul class="tab-summary-list" id="skillDetailTemplate">
												<li data-toggle="tooltip" data-placement="left" title="Analytics, Solutions, and Big Data"><a class="filter-link" href="javascript:void(0)">Analytics, Solutions, and Big Data</a></li>
												<li data-toggle="tooltip" data-placement="left" title="Connected Business and Systems"><a class="filter-link" href="javascript:void(0)">Connected Business and Systems</a></li>
												<li data-toggle="tooltip" data-placement="left" title="Enterprise Networking"><a class="filter-link" href="javascript:void(0)">Enterprise Networking</a></li>
												<li data-toggle="tooltip" data-placement="left" title="Development Ops"><a class="filter-link" href="javascript:void(0)">Development Ops</a></li>
												<li data-toggle="tooltip" data-placement="left" title="Global AS Ops"><a class="filter-link" href="javascript:void(0)">Global AS Ops</a></li>
												<li data-toggle="tooltip" data-placement="left" title="GSQS Operations"><a class="filter-link" href="javascript:void(0)">GSQS Operations</a></li>
												<li data-toggle="tooltip" data-placement="left" title="Finance"><a class="filter-link" href="javascript:void(0)">Finance</a></li>
												<li data-toggle="tooltip" data-placement="left" title="IT"><a class="filter-link" href="javascript:void(0)">IT</a></li>
												<li data-toggle="tooltip" data-placement="left" title="Mobility Business Solutions"><a class="filter-link" href="javascript:void(0)">Mobility Business Solutions</a></li>
												<li data-toggle="tooltip" data-placement="left" title="Quality Metrics"><a class="filter-link" href="javascript:void(0)">Quality Metrics</a></li>
												<li data-toggle="tooltip" data-placement="left" title="Sales Business Calling"><a class="filter-link" href="javascript:void(0)">Sales Business Calling</a></li>
												<li data-toggle="tooltip" data-placement="left" title="Service Product Quality"><a class="filter-link" href="javascript:void(0)">Service Product Quality</a></li>
												<li data-toggle="tooltip" data-placement="left" title="SP Routing"><a class="filter-link" href="javascript:void(0)">SP Routing</a></li>
												<li data-toggle="tooltip" data-placement="left" title="Supply Chain Operations"><a class="filter-link" href="javascript:void(0)">Supply Chain Operations</a></li>
												<li data-toggle="tooltip" data-placement="left" title="WW Sales"><a class="filter-link" href="javascript:void(0)">WW Sales</a></li>
											</ul>

										</div>

										<div class="tab-detail">

											<div class="detail-title">
												<h3 data-toggle="tooltip" data-placement="left" title="">My Knowledge on OpenStack</h3>
											</div>

											<div class="panel-group" id="categoryDetailAccordion">
											  <div class="panel active">
											    <div class="panel-heading">
											      <h4 class="panel-title">
											        <a data-toggle="collapse" data-parent="#categoryDetailAccordion" href="#collapseOne">
											        	<i class="icon-folder-structure"></i>
											          	Topic Classification
											        </a>
											      </h4>
											    </div>
											    <div id="collapseOne" class="panel-collapse collapse in">
											      <div class="panel-body">
											        <div class="sub-panel">
											        	<div class="sub-panel-content">
											        		<ul class="sub-panel-list sub-topics-list">
											        			<li><a href="javascript:void(0)">Project Management</a></li>
											        			<li><a href="javascript:void(0)">Design Principles</a></li>
											        			<li><a href="javascript:void(0)">UX / UI Skills</a></li>
											        			<li><a href="javascript:void(0)">Business Marketing</a></li>
											        			<li><a href="javascript:void(0)">Graphic Design</a></li>
											        			<li><a href="javascript:void(0)">Quality Assurance</a></li>
											        			<li><a href="javascript:void(0)">Budget Planning</a></li>
											        			<li><a href="javascript:void(0)">Business Marketing</a></li>
											        			<li><a href="javascript:void(0)">Graphic Design</a></li>
											        			<li><a href="javascript:void(0)">Design Principles</a></li>			        			
											        		</ul>
											        	</div>
											        </div>
											      </div>
											    </div>
											  </div>
											  <div class="panel">
											    <div class="panel-heading">
											      <h4 class="panel-title">
											        <a data-toggle="collapse" data-parent="#categoryDetailAccordion" href="#collapseTwo">
											        	<i class="icon-chain-linked"></i>
											          	Related Topics
											        </a>
											      </h4>
											    </div>
											    <div id="collapseTwo" class="panel-collapse collapse">
											      <div class="panel-body">
											        <div class="sub-panel">
											        	<div class="sub-panel-content">
											        		<ul id="relatedTopicList" class="sub-panel-list sub-topics-list">
											        			
											        		</ul>
											        	</div>
											        </div>
											      </div>
											    </div>
											  </div>
											  <div class="panel">
											    <div class="panel-heading">
											      <h4 class="panel-title">
											        <a data-toggle="collapse" data-parent="#categoryDetailAccordion" href="#collapseThree">
											        	<i class="icon-light-bulb"></i>
											          	Sources of Knowledge
											        </a>
											      </h4>
											    </div>
											    <div id="collapseThree" class="panel-collapse collapse">
											      <div class="panel-body">
											        <div class="sub-panel">
											        	<div class="sub-panel-content">

											        		<div class="sub-panel-content-inner sub-panel-available">
													        	<h5>Communities <span>(2)</span></h5>
													        	<div class="sub-panel-list-wrap">
													        		<ul class="sub-panel-list sub-communities-list">
													        			<li><strong>Data XCenter Solutions</strong>
													        				<ul>
													        					<li>No. of Members: 7</li>
													        					<li>Owner: Logan Jackson</li>
													        				</ul>
													        			</li>
													        			<li><strong>Data Group Technologies</strong>
													        				<ul>
													        					<li>No. of Members: 9</li>
													        					<li>Owner: Emma Williams</li>
													        				</ul>
													        			</li>
													        		</ul>
													        	</div>
											        		</div>
											        		<div class="sub-panel-content-inner">
													        	<h5>Courses <span>(0)</span></h5>
													        	<div class="sub-panel-list-wrap">
													        		<ul class="sub-panel-list sub-communities-list">
													        		</ul>
													        	</div>
											        		</div>
											        		<div class="sub-panel-content-inner">
													        	<h5>Documents <span>(0)</span></h5>
													        	<div class="sub-panel-list-wrap">
													        		<ul class="sub-panel-list sub-communities-list">
													        		</ul>
													        	</div>
											        		</div>
											        		<div class="sub-panel-content-inner">
													        	<h5>Blogs <span>(0)</span></h5>
													        	<div class="sub-panel-list-wrap">
													        		<ul class="sub-panel-list sub-communities-list">
													        		</ul>
													        	</div>
											        		</div>
											        		<div class="sub-panel-content-inner">
													        	<h5>Wikis <span>(0)</span></h5>
													        	<div class="sub-panel-list-wrap">
													        		<ul class="sub-panel-list sub-communities-list">
													        		</ul>
													        	</div>
											        		</div>
											        		<div class="sub-panel-content-inner">
													        	<h5>Forums <span>(0)</span></h5>
													        	<div class="sub-panel-list-wrap">
													        		<ul class="sub-panel-list sub-communities-list">
													        		</ul>
													        	</div>
											        		</div>		
											        		<div class="sub-panel-content-inner sub-panel-available">
													        	<h5>Events <span>(1)</span></h5>
													        	<div class="sub-panel-list-wrap">
													        		<ul class="sub-panel-list sub-person-list">
													        			<li class="person-wrap">
													        				<img src="assets/images/avatars/emma_mini.png" class="person-photo" /> 
									                            		 	<span class="person-online-availability">
									                            		 		<i class="availability-badge is-available"></i>
									                            		 		<i class="icon-caret-down"></i>
									                            		 	</span>
									                            		 	<span class="person-info">
									                            		 		<p class="person-name">Emmma Williams</p>
									                            		 		<a href="javascript:void(0)"class="person-email">ewilliams@cisco.com</a>
									                            		 	</span>
													        			</li>

													        		</ul>
													        	</div>
											        		</div>


											        	</div>

											        </div>



											      </div>
											    </div>
											  </div>
											  <div class="panel">
											    <div class="panel-heading">
											      <h4 class="panel-title">
											        <a data-toggle="collapse" data-parent="#categoryDetailAccordion" href="#collapseFour">
											        	<i class="icon-badge-shield"></i>
											          	Top Expert Connections
											        </a>
											      </h4>
											    </div>
											    <div id="collapseFour" class="panel-collapse collapse">
											      <div class="panel-body">
											      	<div class="sub-panel">

											        	<div class="sub-panel-content">

											        		<ul class="sub-panel-list sub-person-list">
											        			<li class="person-wrap">
											        				<img src="assets/images/avatars/chris_mini.png" class="person-photo" /> 
							                            		 	<span class="person-info">
							                            		 		<p class="person-name">Christian King</p>
							                            		 		<span class="person-endorsements">
							                            		 			No. of Endorsements: 7
							                            		 		</span>
																		<span class="progress person-progress">
																		  <span class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
																		  </span>
																		</span>
							                            		 	</span>
											        			</li>
											        			<li class="person-wrap">
											        				<img src="assets/images/avatars/elijah_mini.jpg" class="person-photo" /> 
							                            		 	<span class="person-info">
							                            		 		<p class="person-name">Elijah Jackson</p>
							                            		 		<span class="person-endorsements">
							                            		 			No. of Endorsements: 4
							                            		 		</span>
																		<span class="progress person-progress">
																		  <span class="progress-bar" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%;">
																		  </span>
																		</span>
							                            		 	</span>
											        			</li>
											        			<li class="person-wrap">
											        				<img src="assets/images/avatars/jon_mini.png" class="person-photo" /> 
							                            		 	<span class="person-info">
							                            		 		<p class="person-name">Jonathan Wright</p>
							                            		 		<span class="person-endorsements">
							                            		 			No. of Endorsements: 1
							                            		 		</span>
																		<span class="progress person-progress">
																		  <span class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
																		  </span>
																		</span>
							                            		 	</span>
											        			</li>					        			

											        		</ul>

											        	</div>

											      	</div>
											      </div>
											    </div>
											  </div>
											</div>

											<div class="detail-tab-links">
												{{#link-to 'topics' class='secondary-vkm-link'}}See More About This Topic{{/link-to}}
												<a href="#" class="return-overview-tab">
													<i class="icon-caret-left"></i>
													Back to Filters
												</a>
											</div>

										</div>
									</div>
								</div>
								<div class="tab-pane active" id="organization">
									<div class="tab-inner-wrap clearfix">

										<div class="tab-summary">

											<ul class="tab-summary-list" id="orgList">
												
												
											</ul>
										</div>
									</div>		
								</div>
								<div class="tab-pane" id="locations">
									<div class="tab-inner-wrap clearfix">

										<div class="tab-summary">

											<ul class="tab-summary-list" id="locationList">
												
												
											</ul>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="titles">
									<div class="tab-inner-wrap clearfix">

										<div class="tab-summary">

											<ul class="tab-summary-list" id="jobTitleList">
												
												
											</ul>
										</div>
									</div>
								</div>

							</div>
						</div>