<div id="panelFour" class="panel">
  	<div class="panel-heading">
	    <h4 class="panel-title">
	      <span data-parent="#topicDetailAccordion" data-panel="#panelFour">
	        Knowledge Assets <span class="panel-counter"></span>
	      </span>
	    </h4>  
 	</div>
	 
	<div id="assetsPanel" class="panel-collapse collapse">
		<div class="panel-body">
			<div class="sub-panel">
			    <div class="sub-panel-content knowledge-asset-content">
		    		{{view App.TopicAssetsBlogsView}}
		    		{{view App.TopicAssetsDocumentsView}}
		    		{{view App.TopicAssetsForumsView}}
		    		{{view App.TopicAssetsWikisView}}
			    		
			    </div>
			</div>
		</div>
	</div>
</div>