<div id="navbar-container" class="navbar-container">
	<div class="col-xs-1 col-md-1 navbar-shown-tablet navbar-darkborder-tablet responsive-left-padding text-center responsive-left-margin-tablet">
		<div class="btn-group navbar-togglebutton">
			<a class="btn dropdown-toggle navbar-button" id="mobileMenuToggle" href="#">
				<i class="icon-reorder bigger-150"></i>
			</a>
		</div>
    </div>
	<div class="navbar-header col-xs-1 col-md-1 navbar-lightborder-tablet">
		<a href="#">
			<div class="navbar-header logoCiscoBrand"> </div>
		</a>
	</div>

	<div role="navigation" class="col-xs-7 col-md-3 width-240 pull-right no-padding navbar-margin navbar-darkborder">
		<ul class="nav cis-nav pull-right">
			<li> 
				<div class="ember-view" id="ember684">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-warning white bigger-190 top-5 left-8"></i> 
						<span class="badge badge-summary navbar-badge navbar-shoulder">8</span>
					</a>
					<ul class="pull-right dropdown-navbar navbar-drop navbar-notifications dropdown-menu dropdown-caret dropdown-close">
						<li class="dropdown-header">
							<span><i class="icon-warning"></i>Notifications <span class="badge badge-summary">8</span></span>
						</li>
						<li>
							<a href="#">Questions <span class="badge badge-notification">1</span></a>
						</li>
						<li>
							<a href="#">Learning Plans <span class="badge badge-notification">4</span></a>
						</li>
						<li>
							<a href="#">Courses <span class="badge badge-notification">1</span></a>
						</li>
						<li class="ember-view allnotifications loading last" id="ember802">
							<a href="#">See all notifications <i class="icon-arrow-right"></i></a> 
						</li>

					</ul>
				</div>
			</li>

			<li>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-comment white bigger-195 top-5 left-minus-12"></i>
					<i class="pill-icon status-available"></i>
				</a>
				
				<ul class="pull-right dropdown-navbar navbar-drop navbar-status dropdown-menu dropdown-caret dropdown-close">
					<li class="dropdown-header status-current"><span><i class="pill-icon status-available"></i>My Status</span></li>
					<li class="status-available"><a href="#"><i class="pill-icon status-available"></i>Available</a></li>
					<li class="status-away"><a href="#"><i class="pill-icon status-away"></i>Away</a></li>
					<li class="status-dont-disturb"><a href="#"><i class="pill-icon status-dont-disturb"></i>Do Not Disturb</a></li>
					<li class="last status-offline"><a href="#">Go Offline<i class="icon-arrow-right"></i></a></li>
				</ul>
			</li>

			<li>
				<div data-toggle="dropdown" class="pull-left dropdown-toggle avtar-container">
					<a class="inline-block" href="#/profile"><img onerror="this.src='assets/images/avatars/noimage_mini.jpg'" src="assets/images/avatars/pramod_mini.jpg" alt="" class="nav-user-photo pull-left"></a>
					<a href="#">
						<span class="user-info navbar-hidden-inline-block">
							<small>Welcome,</small> user <i class="icon-caret-down"></i>
						</span>
					</a>
				</div>

				<ul class="user-menu pull-right dropdown-menu dropdown-navbar navbar-drop navbar-profile dropdown-caret dropdown-close">
					<li class="dropdown-header">
						<span><i class="glyphicon glyphicon-user"></i>Profile Menu </span>
					</li>
					<li>
						<a href="#">Profile </a>
					</li>
					<li>
						<a href="adminUI.html">Admin Access </a>
					</li>
					<li class="logout last" id="ember817">
						<a href="#" data-ember-action="9">Log Out <i class="icon-off"></i></a> 
					</li>

				</ul>

			</li>
		</ul>
	</div>

</div>