					<ul class="nav nav-list">
						<li class="active">
							<a class="dropdown-toggle" href="#"> <i class="icon-nav-home green menu-icon"></i> <span class="menu-text">Home</span> <span class="menuhead-right"><b class="arrow icon-minus"></b> <span></a>
							<ul class="submenu"><li></li>
								<li class="ember-view dashboard-link">
									<a href="weDashboardPage.html">
										<i class="dasher hide"></i><span class="menu-text">Dashboard</span>
									</a>
								</li>
								<li></li>
								<li class="ember-view workspace-link">
									<a href="meWorkspacePage.html">
										<i class="profile hide"></i> <span class="menu-text">Workspace</span>
									</a>
								</li>
								<li></li>
								<li class="ember-view activity-link">
									<a href="#">
										<i class="membership hide"></i><span class="menu-text">Activity Stream</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav nav-list">
						<li class="active">
							<a class="dropdown-toggle" href="#"> <i class="icon-nav-learning green menu-icon"></i> <span class="menu-text">Learning</span> <span class="menuhead-right"><b class="arrow icon-minus"></b> <span> </a>
							<ul class="submenu">
								<li></li>
								<li class="ember-view training-link">
									<a href="trainingCatalog.html">
										<i class="blogger hide"></i> <span class="menu-text">Training Catalog</span>
									</a>
								</li>
								<li></li>
								<li class="ember-view enrollments-link">
									<a href="#">
										<i class="questioner hide"></i> <span class="menu-text">My Enrollments</span>
									</a>
								</li>
								<li></li>
								<li class="ember-view learning-link">
									<a href="#">
										<i class="learning hide"></i> <span class="menu-text">Learning Plans</span>
									</a>
								</li>
								<li></li>
								<li class="ember-view sharedlearn-link">
									<a href="sampleSharedLearning.html">
										<i class="learning hide"></i> <span class="menu-text">Shared Learning</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav nav-list">
						<li class="active">
							<a class="dropdown-toggle" href="#"> <i class="icon-nav-knowledge green menu-icon"></i> <span class="menu-text">Knowledge Center</span> <span class="menuhead-right"><b class="arrow icon-minus"></b> <span> </a>
							<ul class="submenu">
								<li></li>
								<li class="ember-view knowledgelib-link">
									<a href="sampleKnowledgeLibrary.html"><i class="activities hide"></i><span class="menu-text">Knowledge Library</span></a>
								</li>
								<li></li>
								<li class="ember-view myfiles-link">
									<a href="myFiles.html"> <i class="connections hide"></i><span class="menu-text">My Files</span></a>
								</li>
								<li></li>
								<li class="ember-view mytabs-link">
									<a href="#"> <i class="connections hide"></i><span class="menu-text">My Tabs</span></a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav nav-list">
						<li class="active">
							<a class="dropdown-toggle" href="#"> <i class="icon-nav-collaborate-1 green menu-icon"></i> <span class="menu-text">Collaborate</span> <span class="menuhead-right"><b class="arrow icon-minus"></b> <span> </a>
							<ul class="submenu">
								<li></li>
								<li class="ember-view communities-link">
									<a href="communitiesListGrid.html"> <i class="activities hide"></i> <span class="menu-text">Communities</span> </a>
								</li>
								<li></li>
								<li class="ember-view memberships-link">
									<a href="#">
										<i class="connections hide"></i><span class="menu-text">My Communities</span>
									</a>
								</li>
								<li></li>
								<li class="ember-view blogs-link">
									<a href="blogAdmin.html">
										<i class="connections hide"></i><span class="menu-text">Blogs</span>
									</a>
								</li>
								<li></li>
								<li class="ember-view questions-link">
									<a href="#">
										<i class="pulse-icon hide"></i> <span class="menu-text">Questions</span>
									</a>
								</li>
								<li></li>
								<li class="ember-view wiki-link">
									<a href="#">
										<i class="membership hide"></i><span class="menu-text">Wiki Library</span>
									</a>
								</li>
								<li class="ember-view rss-link">
									<a>
										<i class="membership hide"></i><span class="menu-text">RSS Feeds</span>
									</a>
								</li>								
							</ul>
						</li>
					</ul>
					<ul class="nav nav-list">
						<li class="active">
							<a class="dropdown-toggle" href="#"> <i class="icon-nav-people green menu-icon"></i> <span class="menu-text">People</span> <span class="menuhead-right"><b class="arrow icon-minus"></b> <span> </a>
							<ul class="submenu">
								<li></li>
								<li class="ember-view people-link">
									<a href="peopleGrid.html">
										<i class="activities hide"></i><span class="menu-text">All People</span>
									</a>
								</li>
								<li></li>
								<li class="ember-view experts-link">
									<a href="#">
										<i class="connections hide"></i><span class="menu-text">Experts</span>
									</a>
								</li>
								<li></li>
								<li class="ember-view contacts-link">
									<a href="#">
										<i class="connections hide"></i><span class="menu-text">My Contacts</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav nav-list">
						<li class="active">
							<a class="dropdown-toggle" href="#"> <i class="icon-nav-onthego green menu-icon"></i> <span class="menu-text">On the Go Folder</span> <span class="menuhead-right"><b class="arrow icon-minus"></b> <span> </a>
							<ul class="submenu">								
								<li> </li>
								<li class="ember-view collections-link">
									<a href="sampleMyCollection.html">
										<i class="activities hide"></i><span class="menu-text">My Collection</span>
									</a>
								</li>
								<li></li>
								<li class="ember-view notes-link">
									<a href="sampleMyNotes.html">
										<i class="connections hide"></i><span class="menu-text">Notes</span>
									</a>
								</li>
								<li></li>
								<li class="ember-view sharedfolder-link">
									<a>
										<i class="connections hide"></i><span class="menu-text">Shared</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav nav-list">
						<li class="active">
							<a class="dropdown-toggle" href="#"> <i class="icon-nav-organization green menu-icon"></i> <span class="menu-text">Organization</span> <span class="menuhead-right"><b class="arrow icon-minus"></b> <span> </a>
							<ul class="submenu">
								<li></li>
								<li class="ember-view myteam-link">				
									<a href="myteamPrescribedLearning.html">
										<i class="connections hide"></i><span class="menu-text">My Team</span>
									</a> 
								</li>
								<li></li>
								<li class="ember-view myorg-link">				
									<a href="#">
										<i class="connections hide"></i> <span class="menu-text">My Organization</span>
									</a> 
								</li>
							</ul>
						</li>
					</ul>