<div id="vkm-modal-outer" class="vkm-modal-outer">

	<div class="vkm-modal">

		<div class="container vkm-modal-inner-wrap">
			
			<div class="row modal-section vkm-modal-header">
				<div class="col-xs-6 modal-title">
					<h5></h5>
				</div>
				<div class="col-xs-6 modal-control-panel">
					
				</div>
			</div>


			{{!-- Tabbed Modal Content Template--}}
			<div class="row modal-section vkm-modal-content vkm-modal-content-tabbed">
				
				<div class="vkm-tab-buttons">
					<ul id="tabs" class="nav nav-pills vkm-modal-nav-pills" data-tabs="tabs">
				        <li>
				        	<a class="btn" data-icon-before="" data-toggle="tab" href=""></a>
				        </li>
				    </ul>
				</div>	
				<div id="vkm-modal-tab-content" class="tab-content vkm-tab-content">

					<div class="tab-pane">
					</div>
					
				</div>
			
			</div>


			{{!-- vCard Modal Content Template --}}
			<div class="row modal-section vkm-modal-content vkm-modal-content-vcard">
					
				<div class="vcard-upper container">
						
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 vcard-entity-visual">
						<div class="vcard-entity-photo"></div>
					</div>	

					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 vcard-name-title-rating">
						<div class="vcard-entity-name-title clearfix">
							<span class="vcard-entity-name clearfix">
								<h3></h3>
							</span>
						</div>
						<div class="vcard-entity-rating clearfix">
							<div class="vcard-entity-score" id="entity-rating">
								<span class="score-item" data-icon-before="star"></span>
								<span class="score-item" data-icon-before="star"></span>
								<span class="score-item" data-icon-before="star"></span>
								<span class="score-item" data-icon-before="star"></span>
								<span class="score-item" data-icon-before="star"></span>
								<span class="score-item" data-icon-before="star"></span>
								<span class="score-item" data-icon-before="star"></span>
								<span class="score-item" data-icon-before="star"></span>
								<span class="score-item" data-icon-before="star"></span>
								<span class="score-item" data-icon-before="star"></span>
							</div>
						</div>
					</div>	
				</div>
				
				<div id="vcard-modal-tab-content" class="tab-content vcard-tab-content">
				</div>

				<div class="vcard-tab-buttons">
					<ul class="vcard-entity-summary nav nav-pills vkm-modal-nav-pills" data-tabs="tabs">
					</ul>
				</div>

				<div class="modal-section vkm-modal-footer">
				</div>

			</div>


			{{!-- Topic Comparison Content Template --}}
			<div class="row modal-section vkm-modal-content vkm-modal-content-comparison">
					
				<div class="vcard-upper container">
						
					<div class="comparison-topic-title clearfix">
						<h3></h3>
					</div>

					<div class="comparison-topic-levels clearfix">
						<div class="comparison-bar-item">
							<label for="entity-comparison-bar">Me</label>
							<div class="comparison-bar-rectangle" id="entity-comparison-bar"></div>
							<div class="comparison-bar-number"></div>
						</div>					
					</div>

				</div>
				
				<div class="vcard-lower container">

					<div class="comparison-topic-table">
						
						<table>
							
							<thead>

								<tr class="comparison-topic-subtitle">
									<th class="comparison-topic-map-name"></th>
									<th>Me</th>
									<th>Others</th>
								</tr>

							</thead>
							<tbody>

								<tr class="comparison-topic-entity">
									<td data-icon-before="" class="comparison-topic-entity-title">Communities</td>
									<td class="comparison-topic-me-count"></td>
									<td class="comparison-topic-others-count"></td>
								</tr>	

							</tbody>

						</table>

					</div>

				</div>

				<div class="modal-section vkm-modal-footer">
					<span class="disclaimer-note">*Averages shown</span>
				</div>

			</div>



		</div>

	</div>

	<div class="vkm-modal-bg"></div>

</div>